footer {
    display: "flex";
    align-items: center;
    justify-content: center;
}

.footer-title {
    border: 3px solid blue;
    text-align: center;
    margin: 0 45%;
}

@media screen and (max-width: 1024px) {
    .footer-title {
        margin: 0 43%;
    }
}

@media screen and (max-width: 780px) {
    .footer-title {
        margin: 0 41%;
    }
}

@media screen and (max-width: 550px) {
    .footer-title {
        margin: 0 37%;
    }
}

@media screen and (max-width: 380px) {
    .footer-title {
        margin: 0 32%;
    }
}